OS.vhd
OS.img
os_image
*.o
*.d
*.bin
*.elf
*.img
*.vhd
*.vdi
*.vmdk
cross_compiler/gcc
cross_compiler/binutils
cross_compiler/build-binutils
cross_compiler/build-gcc
cross_compiler/cross*
